<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combined Search</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
        }
        label {
            margin-bottom: 0.5rem;
        }
        input[type="text"] {
            margin-bottom: 1rem;
            padding: 0.5rem;
            width: 200px;
        }
        button {
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>Search and XSS</h1>
    <form method="POST" action="{{ url_for('main.search') }}">
        <h2>Search User</h2>
        <label for="search_username">Username:</label>
        <input type="text" id="search_username" name="search_username">
        <button type="submit">Search</button>
    </form>

    <form method="POST" action="{{ url_for('main.search') }}">
        <label for="xss_username">Mail:</label>
        <input type="text" id="xss_username" name="xss_username">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
